<div class="row">
    <div class="col-auto">
        <h2>Reservation Info</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6 project-list">
        <h3>Reservation</h3>
        {{#each customer as |customers|}}
        <div class="row mb-2">
            <h3>
                {{customers.name}}
            </h3>
            <div class="col-md-8">
                <h4>{{customers.phone_number}}</h4>
            </div>
            <p>
                {{customers.email}}
            </p>
        </div>
        <h5>{{customers.reservation_date}} {{customers.reservation_time}}
            <h5>
                {{/each}}
    </div>

</div>

</div>

{{!--
<script src="../public/js/index.js"></script> --}}