

<div>
  <div>
    <h2 class="text-3xl bold mb-8">Welcome to FoodMersion!</h2>
  </div>
</div>


  <div class="text-red-400">
    <h3 class="text-3xl bold mb-8 bg-gray-900 ">Drinks</h3>
    {{#each drinks as |drink|}}
    <div>
      <span class="bg-blue-400 rounded-full pt-3 pb-3 pr-4 pl-4 text-white">
        {{drink.prices}}
      </span>
      <div >
        <h4 class="text-2xl mt-6">{{drink.name}}</h4>
      </div>
      <p class="mb-8 text-lg">
     {{drink.description}}       
      </p>
    </div>
    {{/each}}
  </div>



<div class="text-red-400">
    <h3 class="text-3xl bold mb-8 mt-8 bg-gray-900 ">Starters</h3>
    {{#each starters as |starter|}}
    <div>
      <h3>
        {{starter.prices}}
      </h3>
      <div>
        <h4 class="text-2xl mt-6 ">
          {{starter.name}}
          </h4>
      </div>
      <p class="text-lg">
        {{starter.description}}       
   </p>
    </div>
    {{/each}}
  </div>




  <div class="text-center text-red-400">
    <h3 class="text-3xl bold mb-8 bg-gray-900 mt-8 ">Entrees</h3>
    {{#each menus as |entree|}}
    <div class="mb-2">
      
        <h3>
      {{entree.prices}}
      </h3>
      
      <div class="">
        <h4 class="text-2xl mt-6">{{entree.name}}</h4>
      </div>
      <p class="mb-8 text-lg ">
        {{entree.description}}       

 
     </p>
    </div>
    {{/each}}
  </div>




  {{!-- <link rel="stylesheet" href="/css/homepage.css"> --}}

{{!-- <script src="../public/js/index.js"></script> --}}
