<div class="row">
  <div class="col-auto">
    <h2>Welcome to FoodMersion!</h2>
  </div>
</div>

<div class="row mt-4">
  {{#if drinksData}}
  <div class="col-md-6 project-list">
    <h3>Drinks</h3>
    {{#each drinksData as |drinks|}}
    <div class="row mb-2">
      <h3>
        {{drinks.prices}}
      </h3>
      <div class="col-md-8">
        <h4>{{drinks.name}}</h4>
      </div>
      <p>
        {{drinks.description}}       
      </p>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<div class="row mt-4">
  {{#if menuData}}
  <div class="col-md-6 project-list">
    <h3>Entrees</h3>
    {{#each menuData as |entree|}}
    <div class="row mb-2">
      <h3>
      {{entree.prices}}
      </h3>
      <div class="col-md-8">
        <h4>{{entree.name}}</h4>
      </div>
      <p>
        {{entree.description}}       
      </p>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<div class="row mt-4">
  {{#if starterData}}
  <div class="col-md-6 project-list">
    <h3>Starters</h3>
    {{#each starterData as |starters|}}
    <div class="row mb-2">
      <h3>
        {{starters.prices}}
      </h3>
      <div class="col-md-8">
        <h4>{{starters.name}}</h4>
      </div>
      <p>
        {{starters.description}}       
      </p>
    </div>
    {{/each}}
  </div>
  {{/if}}  
</div>

<script src="./js/index.js"></script>
